<div class="container bg-light">
  <h1>Add Referring Practice</h1>
  <br/>
  <%= render "form", practice: @practice %>
  <br/>
  <br/>
  <div>
    <%= link_to "Back to practices", practices_path, class:"btn btn-secondary" %>
  </div>
</div>
